


<div th:fragment="bodyError (emailFieldTL,usernameFieldTL,errorsTL)" class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" action="/users/create">

            <h3 class="text-center">Register</h3>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" th:value="${emailFieldTL}" required >
            </div>

            <div th:if="${errorsTL.contains('emaile')}" class="alert alert-danger">Email is empty.</div>

            <div th:if="${errorsTL.contains('emailinvalid')}" class="alert alert-danger">Email is invalid.</div>

            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
            </div>

            <div th:if="${errorsTL.contains('passworde')}" class="alert alert-danger">Password is empty.</div>

            <div th:if="${errorsTL.contains('passwordshort')}" class="alert alert-danger">Password is short.</div>


            <div class="form-group">
                <input type="text" class="form-control" id="exampleUsername1" placeholder="Username" name="username" th:value="${usernameFieldTL}" required>
            </div>

            <div th:if="${errorsTL.contains('usernamee')}" class="alert alert-danger">Username is empty.</div>

            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>


