<!DOCTYPE html>
<html th:fragment="base (titleTL,sessTL)">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${titleTL}">...</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--
    <link rel="stylesheet" href="~/css/site.css" />
-->
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}">socialclone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/topics">Topics</a>
                    </li>


<!--                   <div th:text="${sessTL.isAuthenticated}"></div>-->
                    <li th:unless="${sessTL.isAuthenticated}" class="nav-item">
                        <a class="nav-link text-dark" href="/logins/create">Login</a>
                    </li>
                    <li th:unless="${sessTL.isAuthenticated}" class="nav-item">
                        <a class="nav-link text-dark" href="/users/create">Register</a>
                    </li>


                    <li th:if="${sessTL.isAuthenticated}" class="nav-item">
                        <a id="currentuser" class="nav-link text-dark" th:href="@{'/users/'+${sessTL.id}}" th:text="${sessTL.username}">...</a>
                    </li>
                    <li th:if="${sessTL.isAuthenticated}" class="nav-item">
                        <a class="nav-link text-dark" href="/posts/create">Create</a>
                    </li>
                    <li th:if="${sessTL.isAuthenticated}" class="nav-item">
                        <a class="nav-link text-dark" href="/logout">Log out</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>


